In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/avishandilya/Desktop/Data Analytics Project/insurance_dataset1.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   row_num                      1000 non-null   int64
 1   months_as_customer           1000 non-null   int64
 2   months_bracket               1000 non-null   object
 3   age                          1000 non-null   int64
 4   age_bracket                  1000 non-null   object
 5   policy_number                1000 non-null   int64
 6   policy_bind_date             1000 non-null   object
 7   policy_state                 1000 non-null   object
 8   policy_csl                   1000 non-null   object
 9   policy_deductable            1000 non-null   int64
 10  policy_annual_premium        1000 non-null   float64
 11  annual_premium_bracket       1000 non-null   object
 12  umbrella_limit               1000 non-null   int64
 13  insured_zip                  1000 non-null   int64
 14  insured_sex                  1000 non-null   object
 15  insured_education_level      1000 non-null   object
 16  insured_occupation           1000 non-null   object
 17  insured_hobbies              1000 non-null   object
 18  insured_relationship         1000 non-null   object
 19  capital_gains                1000 non-null   int64
 20  capital_loss                 1000 non-null   int64
 21  incident_date                1000 non-null   object
 22  incident_type                1000 non-null   object
 23  collision_type               822 non-null    object
 24  incident_severity            1000 non-null   object
 25  authorities_contacted        909 non-null    object
 26  incident_state               1000 non-null   object
 27  incident_city                1000 non-null   object
 28  incident_city_state          1000 non-null   object
 29  incident_location            1000 non-null   object
 30  incident_hour_of_the_day     1000 non-null   int64
 31  number_of_vehicles_involved  1000 non-null   int64
 32  property_damage              1000 non-null   object
 33  bodily_injuries              1000 non-null   int64
 34  witnesses                    1000 non-null   int64
 35  witness_present              1000 non-null   object
 36  police_report_available      1000 non-null   object
 37  total_claim_amount           1000 non-null   int64
 38  total_claim_amount_bracket   1000 non-null   object
 39  injury_claim                 1000 non-null   int64
 40  property_claim               1000 non-null   int64
 41  vehicle_claim                1000 non-null   int64
 42  auto_make                    1000 non-null   object
 43  auto_model                   1000 non-null   object
 44  auto_year                    1000 non-null   int64
 45  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(18), object(27)
memory usage: 359.5+ KB

In [3]:
df.describe()

,row_num,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital_gains,capital_loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,203.954000,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,288.819436,115.113174,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,1.000000,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,250.750000,115.750000,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,500.500000,199.500000,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,750.250000,276.250000,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,1000.000000,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [4]:
df.head()

,row_num,months_as_customer,months_bracket,age,age_bracket,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,...,police_report_available,total_claim_amount,total_claim_amount_bracket,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,1,328,241-360,48,41-50,521585,2014-10-17,OH,250/500,1000,...,Yes,71610,high-mid,6510,13020,52080,Saab,92x,2004,Yes
1,2,228,121-240,42,41-50,342868,2006-06-27,IN,250/500,2000,...,?,5070,low,780,780,3510,Mercedes,E400,2007,Yes
2,3,134,121-240,29,19-30,687698,2000-09-06,OH,100/300,2000,...,No,34650,low-mid,7700,3850,23100,Dodge,RAM,2007,No
3,4,256,241-360,41,41-50,227811,1990-05-25,IL,250/500,2000,...,No,63400,high-mid,6340,6340,50720,Chevrolet,Tahoe,2014,Yes
4,5,228,121-240,44,41-50,367455,2014-06-06,IL,500/1000,1000,...,No,6500,low,1300,650,4550,Accura,RSX,2009,No

In [5]:
df.shape

(1000, 46)

In [6]:
df.columns

Index(['row_num', 'months_as_customer', 'months_bracket', 'age', 'age_bracket',
       'policy_number', 'policy_bind_date', 'policy_state', 'policy_csl',
       'policy_deductable', 'policy_annual_premium', 'annual_premium_bracket',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital_gains', 'capital_loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_city_state', 'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'witness_present', 'police_report_available',
       'total_claim_amount', 'total_claim_amount_bracket', 'injury_claim',
       'property_claim', 'vehicle_claim', 'auto_make', 'auto_model',
       'auto_year', 'fraud_reported'],
      dtype='object')

In [7]:
print(df.isnull().sum())

row_num                          0
months_as_customer               0
months_bracket                   0
age                              0
age_bracket                      0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
annual_premium_bracket           0
umbrella_limit                   0
insured_zip                      0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital_gains                    0
capital_loss                     0
incident_date                    0
incident_type                    0
collision_type                 178
incident_severity                0
authorities_contacted           91
incident_state                   0
incident_city                    0
incident_city_state              0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
bodily_injuries                  0
witnesses                        0
witness_present                  0
police_report_available          0
total_claim_amount               0
total_claim_amount_bracket       0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
dtype: int64

In [8]:
print(df.duplicated().sum())

0

In [9]:
df.dtypes

row_num                          int64
months_as_customer               int64
months_bracket                  object
age                              int64
age_bracket                     object
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
annual_premium_bracket          object
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital_gains                    int64
capital_loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_city_state             object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
witness_present                 object
police_report_available         object
total_claim_amount               int64
total_claim_amount_bracket      object
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
dtype: object

In [10]:
df["collision_type"]

0       Side Collision
1                  NaN
2       Rear Collision
3      Front Collision
4                  NaN
            ...
995    Front Collision
996     Rear Collision
997     Side Collision
998     Rear Collision
999                NaN
Name: collision_type, Length: 1000, dtype: object

In [11]:
print(df[["incident_type", "collision_type",]])

                incident_type   collision_type
0    Single Vehicle Collision   Side Collision
1               Vehicle Theft              NaN
2     Multi-vehicle Collision   Rear Collision
3    Single Vehicle Collision  Front Collision
4               Vehicle Theft              NaN
..                        ...              ...
995  Single Vehicle Collision  Front Collision
996  Single Vehicle Collision   Rear Collision
997   Multi-vehicle Collision   Side Collision
998  Single Vehicle Collision   Rear Collision
999                Parked Car              NaN

[1000 rows x 2 columns]

In [12]:
df['collision_type'].fillna('No Collision', inplace = True)

In [13]:
df['collision_type']

0       Side Collision
1         No Collision
2       Rear Collision
3      Front Collision
4         No Collision
            ...
995    Front Collision
996     Rear Collision
997     Side Collision
998     Rear Collision
999       No Collision
Name: collision_type, Length: 1000, dtype: object

In [14]:
df['policy_bind_date'] = pd.to_datetime(df['policy_bind_date'])
df['incident_date'] = pd.to_datetime(df['incident_date'])

In [15]:
df.dtypes

row_num                                 int64
months_as_customer                      int64
months_bracket                         object
age                                     int64
age_bracket                            object
policy_number                           int64
policy_bind_date               datetime64[ns]
policy_state                           object
policy_csl                             object
policy_deductable                       int64
policy_annual_premium                 float64
annual_premium_bracket                 object
umbrella_limit                          int64
insured_zip                             int64
insured_sex                            object
insured_education_level                object
insured_occupation                     object
insured_hobbies                        object
insured_relationship                   object
capital_gains                           int64
capital_loss                            int64
incident_date                  datetime64[ns]
incident_type                          object
collision_type                         object
incident_severity                      object
authorities_contacted                  object
incident_state                         object
incident_city                          object
incident_city_state                    object
incident_location                      object
incident_hour_of_the_day                int64
number_of_vehicles_involved             int64
property_damage                        object
bodily_injuries                         int64
witnesses                               int64
witness_present                        object
police_report_available                object
total_claim_amount                      int64
total_claim_amount_bracket             object
injury_claim                            int64
property_claim                          int64
vehicle_claim                           int64
auto_make                              object
auto_model                             object
auto_year                               int64
fraud_reported                         object
dtype: object

In [16]:
percent_fraud = (((df['fraud_reported'] == 'Yes').sum())/(len(df['fraud_reported']))*100)

In [17]:
percent_fraud

24.7

In [18]:
from scipy.stats import chi2_contingency

# Create a contingency table
contingency_table = pd.crosstab(df["incident_severity"], df["fraud_reported"])

# Perform the Chi-Square test
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

# Display results
chi2_stat, p_value, dof

(264.2373497806052, 5.447033547673786e-57, 3)

In [19]:
df.to_csv(r'/Users/avishandilya/Desktop/Data Analytics Project/insurance_dataset2.csv')

In [20]:
df['collision_type']

0       Side Collision
1         No Collision
2       Rear Collision
3      Front Collision
4         No Collision
            ...
995    Front Collision
996     Rear Collision
997     Side Collision
998     Rear Collision
999       No Collision
Name: collision_type, Length: 1000, dtype: object